
<div class="container">
  <div class="row">
  		<div class="class1 col-sm-4"> 
  			<div class="form-group" >
			      <p>Only By Invitation. Please provide your email below to request invitation code.</p>
			      <label for="email">Email: </label>
			      <input type="text" class="form-control" name="email"/>
			      
		 	</div>
		 	<button class="btn btn-primary">Get Code</button>
		 </div>
  		<div class="class2 col-sm-8">
  			<div class="form-group" >
  				<p>Unicus InvestPass</p>
  			</div>
  		</div>
  </div> 
</div>

<div>
    <p>Product is under construction. Access available only by invitation.</p>
    <p>unicus.co</p>
</div>


