.container, .row{
  height: 100%;
  width: 100%;
}

.class1 {
  background-color:#9BCB3B;
}

.class2 {
  background-color:#1AB99E;
}

.form-group{
  margin-top:50%;
}

p {
  padding-top: 2px;
  text-align: center;
}