<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
      <a href="index.html" class="navbar-brand">Elite Association</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active" routerLinkActive="active">
            <a routerLink="home" class="nav-link">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="hoa" class="nav-link">HOA</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="business" class="nav-link">Business</a>
          </li>
           <li class="nav-item" routerLinkActive="active">
            <a routerLink="register" class="nav-link">Register/SignIn</a>
          </li>
        </ul>
      </div>
    </div>
</nav>


<router-outlet></router-outlet>

